<ion-header>
  <ion-toolbar>
    <ion-title>{{loc.COMPONENT_TITLE}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="widgets-container">
    <ng-container *ngFor="let widget of widgets">
      <ion-card class="widget-card">

        <ion-card-header>
          <ion-card-title>
            <ion-icon [name]="widget.icon"></ion-icon>
            {{ widget.title }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Виджет погоды -->
            <div *ngIf="widget.type === 'weather'" class="weather-widget">
            <div *ngIf="widget.data.temperature" class="weather-data">
              <h2>{{ widget.data.temperature }}</h2>
              <p>{{ widget.data.description }}</p>
            </div>
            <div *ngIf="!widget.data.temperature" class="loading">
              {{loc.LOADING}}...
            </div>
          </div>

          <!-- Виджет времени -->
          <div *ngIf="widget.type === 'time'" class="time-widget">
            <h2 class="time-display">{{ widget.data.time }}</h2>
            <p class="date-display">{{ widget.data.date }}</p>
          </div>

        </ion-card-content>

      </ion-card>
    </ng-container>
  </div>
</ion-content>